*.o
a.out
.vscode/
.DS_Store
**/credit
**/mario
**/credit
**/cash
*.o
a.out
.vscode/
.DS_Store
week1/world/hello
week1/me/hello
**/readability
**/caesar
**/substitution
**/scrabble
week3/runoff/runoff
week3/plurality/plurality
week3/tideman/tideman
week3/plurality/plurality
week3/runoff/runoff
week3/tideman/tideman
week3/sort/sort/sort1
week3/sort/sort/sort2
week3/sort/sort/sort3
