*.o
a.out
.vscode/
.DS_Store
**/credit
**/mario
**/credit
**/cash
*.o
a.out
.vscode/
.DS_Store
week1/world/hello
week1/me/hello
**/readability
**/caesar
**/substitution
**/scrabble
week3/runoff/runoff
week3/plurality/plurality
week3/tideman/tideman
week3/plurality/plurality
week3/runoff/runoff
week3/tideman/tideman
week3/sort/sort/sort1
week3/sort/sort/sort2
week3/sort/sort/sort3
week3/runoff/runoff

# builds
**/build.log
**/*.o
**/tideman
**/runoff

# local chat logs
chat-history*
chat-histoty*

# ignore local binaries/logs
*.log
*/tideman
*/plurality
*/runoff

# ignore editor chat history
**/ddb50_chat_history_*.txt
