*.o
a.out
.vscode/
.DS_Store
**/credit
**/mario
**/credit
**/cash
*.o
a.out
.vscode/
.DS_Store
week1/world/hello
week1/me/hello
**/readability
**/caesar
**/substitution
**/scrabble
week3/runoff/runoff
week3/plurality/plurality
